#Negamos al indexación del directorio y los subdirectorios

Options -Indexes

RewriteEngine On
RewriteRule ^([a-zA-Z]+)$ index.php?controller=$1
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)$ index.php?controller=$1&action=$2
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)$ index.php?controller=$1&action=$2&id=$3
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?controller=$1&action=$2&id=$3&extra=$4